<a href="#" id="m-addtrack" class="btn pull-left">add track</a>
<a href="#" id="m-removetrack" class="btn pull-left">delete track</a>
<a href="#" id="m-zoomin" class="btn pull-left">Zoom in</a>
<a href="#" id="m-zoomout" class="btn pull-left">Zoom out</a>
<a href="#" id="m-zoomzero" class="btn pull-left">Normal</a>
<a href="#" id="m-copy" class="btn pull-left">Copy</a>
<a href="#" id="m-cut" class="btn pull-left">Cut</a>
<a href="#" id="m-paste" class="btn pull-left">Paste</a>
<a href="#" id="m-delete" class="btn pull-left">Delete</a>
<a href="#" id="m-split" class="btn pull-left">Split</a>
<a href="#" id="m-exit" class="btn pull-right">Exit</a>
<a href="#" id="m-save" class="btn pull-right">Save</a>
